body{
    background-image:url("images/bois.jpg");
}
#logo{
    width: 100px;
    transform: rotate(-20deg); 
}
#logo:hover{
    transform: rotate(360deg);
    transition: all 0.3s;
    
}
.toy-card{
    
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
width: 300px;
    
height: 390px;
    
border-radius: 30px;
    
margin: 10px;
    
margin-bottom: 100px;
}
.toy-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.toy-card:hover .toy-card__description{
	border-radius: 0px;
	transition: all 0.1s;
}
.toy-card__image img{
    display: flex;
    justify-content: center;
    height: 250px;
    margin: auto;
    padding-top: 10px;
}
.toy-card:hover img{
    transform: scale(130%) translateY(-30px);
    transition: all 0.3s;
    
}
.toy-card__name{
    text-align: center;
    background: orange;
    font-size: 24px;
    font-weight: bolder;
}
div.toy-card__name:nth-child(2n+1){
    background: green;
}
.toy-card__description{
    text-align: center;
    background-color: white;
    color: grey;
    padding: 10px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one-third{
    background-color: orange;
    border: darkorange solid 1px;
    width: 33%;
    text-align: center;
    padding: 10px;
    /* height: 0; */
}
.toy-card__unit-stats{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 0;
    opacity: 0;
}
.toy-card:hover .toy-card__unit-stats{
	opacity: 100%;
	height: 90px;
	transition: all 0.3s;
}
.stat{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
.stat-value{
    color: white;
    text-transform: uppercase;
}
.one-third:first-child{
    border-bottom-left-radius:30px ;
}
.one-third:last-child{
    border-bottom-right-radius:30px ;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 100px; */
    padding: 0px 100px;
}
