*{
  scroll-behavior: smooth;
}
.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  margin-top: 78px;
}
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  /* Tp chat */
  #affichage{
    
    background-color: #ffb;
}
/* Tp poussin */
#des1{
  background: url("poussins.jpg");
  height: 131px;
  width: 131px;
  background-position-y: 0px;
}
#des2{
  background: url("poussins.jpg");
  height: 131px;
  width: 131px;
  background-position-y: 0px;
}
#des3{
  background: url("poussins.jpg");
  height: 131px;
  width: 131px;
  background-position-y: 0px;
}
#des4{
  background: url("poussins.jpg");
  height: 131px;
  width: 131px;
  background-position-y: 0px;
}
#conteneur{
  display: flex;
  margin: 20px;
  flex-direction: column;
}
#grd_conteneur{
  display: flex;
  
  
}
#valider{
  margin: 20px;
}
#name_error,
#mail_error {
    display: none;
    padding: 8px;
    color: red;
    
}

#valid_form {
    display: none;
    padding: 8px;
    color: green;
    
}
abbr {
  text-decoration: none;
}
/* Nav */
.bg-dark {
  background-color: #5485c4!important;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
}
#gagné{
  display: none;
  color: green;
}
#perdu{
  display: none;
  color: red;
}
